/* 로그인 컴포넌트의 컨테이너 */
.polestar.login.container {
    margin: 100px auto !important;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
    background-color: white;
}

/* 로그인 컴포넌트의 Header 영역 */
.polestar.login.header {
    background: #283593;
    padding: 15px 0 10px 0;
    text-align: center;
}

/* 로그인 컴포넌트의 Content 영역 */
.polestar.login.content {
    padding: 48px 48px 0 48px;
}

/* 로그인 컴포넌트의 Footer 영역 */
.polestar.login.footer {
    padding: 0 48px 48px 48px;
}

/* 로그인 컴포넌트의 Label */
.polestar.login.label {
    color: #283593;
}

/* 로그인 컴포넌트의 username input */
.polestar.login input {
    box-sizing: border-box;
    padding: 16px;
    border: 1px solid grey;
    height: 40px;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 20px;
}

/* 로그인 컴포넌트의 로그인 버튼 */
.polestar.login.button {
    width: 100%;
    font-size: 1.05rem;
    height: 40px;
    border: 1px solid #283593;
    border-radius: 5px;
    cursor: pointer;
    background-color: transparent;
    margin-top: 20px;
}

