@import '../../../styles/index';

html{
    body {
        font-family: @font-family;
        font-weight: normal;
        font-style: normal;
        font-size: @font-size-base;  /* Preferred icon size */
        background: @body-background;
    }
}

* {
    margin: 0;
    padding: 0;
}

// 컨테이너 영역
.polestar-app-container {
    min-width: 300px;

    // 헤더 영역
    .polestar-app-header {
        overflow: hidden;
        min-width: 800px;
        height: 40px;
        padding: 0;
        background: @mnblue-6;
        line-height: 40px;

        // POLESTAR
        .polestar-app-logo {
            margin: 0 0 0 20px;
            color: @mono-0;
            font-size: @font-size-lg;
        }

        .ant-menu-item {
            top: 0;
            margin-top: 0;
            background: @mnblue-6;
            color: @mnblue-3;
        }

        .ant-menu-horizontal > .ant-menu-item:hover {
            background: @blue-6;
            color: @mono-0;
        }

        .ant-menu {
            line-height: 40px;
        }

        .polestar-navbar-right {
            padding: 4px 0 0 0;
            border-left: 1px solid @mnblue-5;
            text-align: center;
            .ant-btn {
                font-size: @font-size-lg2;
                border: unset;
            }
            .ant-btn:hover, .ant-btn-active {
                color: @blue-4;
            }
        }

    }

    // 북마크바 영역
    .polestar-app-bookmark {
        padding: 5px;
        background: @bookmark-bar-bg;
        border-bottom: 1px solid @mnblue-2;
        
        .ant-btn {
            border: unset;
            color: @mnblue-5;
            font-size: @font-size-base;
            transition: unset;
        }
        .ant-btn:hover, .ant-btn-active {
            background: @mnblue-2 !important;
            color: @mnblue-7;
        }
    }

    // 브레드크럼 영역
    .polestar-app-breadcrumb {
        padding: 5px 20px;
        background: @mono-1;
        border-bottom: 1px solid @mono-2;
        color: @mono-6;

        .ant-breadcrumb-separator {
            color: @mono-4;
        }
    }

    // 사이드바 컴포넌트 스타일
    .polestar-app-sidebar {
        position: fixed;
        box-sizing: border-box;
        box-shadow: rgba(0, 0, 0, 0.12) 0 1px 6px, rgba(0, 0, 0, 0.12) 0 1px 4px;
        z-index: 1000;
        color: black;
        background-color: white;
        height: 100vh;
        transition-property: transform;
        transition-duration: 0.3s;
    }

    // 컨텐츠 영역
    .polestar-app-contents {
        overflow: auto;
        margin: 0;
    }

    // 푸터 영역
    .polestar-app-footer {
        min-height: 40px;
        background: @mnblue-6;
        padding: 5px;
        color: @mnblue-3;
        font-size: 12px;
        line-height: 30px;
        z-index: @zindex-footer;
    }

    // 화면 좌측 하단 사이드바 토글 버튼
    .polestar-app-sidebar-button {
        position: fixed;
        left: 5px;
        bottom: 4px;
        border: unset;
        font-size: @font-size-lg2 !important;
        z-index: 1001;
    }

    .polestar-app-sidebar-button:hover, .polestar-app-sidebar-button:active {
        color: @blue-4;
    }

    // 화면 우측 하단 챗봇 토글 버튼
    .polestar-app-chatbot-button {
        position: fixed;
        right: 5px;
        bottom: 4px;
        border: unset;
        font-size: @font-size-lg2 !important;
        z-index: 1001;
    }

    .polestar-app-chatbot-button:hover, .polestar-app-chatbot-button:active {
        color: @blue-4;
    }

    // polestar-app-container 내부에 있는 모든 ant button
    .ant-btn {
        background: transparent;
        color: @mono-0;
        font-size: @font-size-base;
    }
    .ant-btn-clicked:after {
        -webkit-animation: unset;
                animation: unset;
    }

}

// 드롭다운 메뉴 스타일
.ant-dropdown-menu-dark {
    background-color: white;

    .ant-dropdown-menu-item {
        color: gray;
    }
    .ant-dropdown-menu-item:hover {
        color: black;
    }
}

@media (min-width: @screen-sm-max) {
    .menu-bars {
        display: flex;
        justify-content: center;
    }
}

@media (max-width: @screen-sm-max) {
    .menu-bars {
        display: none
    }
}

@media (min-width: @screen-sm-max) {
    .menu-icon {
        display: none
    }
}

@media (max-width: @screen-sm-max) {
    .menu-icon {
        display: inline
    }
}