@import '../../../styles/index';

.polestar-app-container {}

.polestar-app-header {}

.polestar-app-breadcrumb {}

.polestar-app-bookmark {}

.polestar-app-contents {
}

.polestar-app-footer {}


body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    overflow-x: hidden;
}

.left-menu {
    /* position: fixed;
    top: 0;
    bottom: 0;*/
    height: 100vh;
    background-color: #293652;
}

.menulogo {
    height: 86px;
    vertical-align: middle;
    padding-top: 9px;
    background-color: #293652;
    text-align: center !important;
}

.menunav-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu-link {
    text-align: left !important;
    padding-left: 10px;
    padding-bottom: 10px;
    /* float: left; */
}

.menu-link > a {
    color: #211616;
    text-decoration: none;
}

.content {

}
body{overflow: hidden; }

/*-------------------header*/
.logo {
    text-align: left;
    font-size: 18px;
    padding-left: 10px;
}

.ant-layout-header{
    // box-shadow: @shadow-1-down;
    min-width:800px;
    overflow: hidden;
    padding: 0 0px;
    height: 40px;
    line-height: 40px;
    // border-bottom: 1px solid @gray-6;
    background: #052A68;
    .ant-menu.ant-menu-dark .ant-menu-item-selected {  background-color: #052A68;  }
    .ant-menu{line-height: 40px;}
}

.ant-breadcrumb{color:@gray-5; height: 35px; margin-right: -5px; margin-left: -5px; padding: 8px 10px; background-color:transparent;  border-bottom: 1px solid @gray-6;}
.ant-breadcrumb-separator{color:@gray-5;}

/*-------------------footer*/
.ant-layout-footer {
    padding: 5px;
    font-size: 12px;
    min-height: 40px;
    line-height: 30px;
    background: #052A68;
    border-top:1px solid @gray-6;
    // box-shadow:@shadow-1-up-1;
    z-index: @zindex-footer ;

}

.ant-menu-item {
    background-color: #052A68
}

.ant-menu-submenu {
    background-color: #052A68
}

/*-------------------layout-contents*/

.ant-layout-content{overflow: auto; margin:0; padding: 0 5px 0 5px;}



/*-------------------card*/
.ant-card-bordered{ border:1px solid @gray-6;}
.ant-card-wider-padding .ant-card-head {
    padding-left: 25px; //before bullet width
    line-height: 32px;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 14px;
}
.ant-card-head {
    margin:-1px;
    padding-left: 25px; //before bullet width
    line-height: 33px;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 14px;
    border:1px solid @gray-6;
    border-bottom: 1px solid @gray-8;
    box-shadow: @shadow-1-down-1;
    &:before {
        content: "";
        display: block;
        top: 11px;
        left: 10px;
        border: 3px solid @orange-6;
        width: 11px;
        height: 11px;
        border-radius: @border-radius-bullet;
        position: absolute;

    }
}
.ant-card-wider-padding .ant-card-extra {
    right: 12px;
}
.ant-card-extra {
    position: absolute;
    right: 12px;
    top: 8px;
}
.ant-card-body{overflow-x: auto;  }

/*-------------------select*/

.ant-select-dropdown{background: @gray-6; border: 1px solid @gray-5;}
.ant-select-dropdown-menu-item-selected, .ant-select-dropdown-menu-item-selected:hover,.ant-select-dropdown-menu-item:hover {
    background-color:@orange-6;  }

/*-------------------carousel*/

.alice-carousel__play-btn-item {
    cursor: pointer;
    position: absolute;
    top: 50%;
    background: gray;
    border: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 32px;
    height: 30px;
    outline: none;
}
/*-------------------custom*/

.icon-btn{border:none !important; font-size: 15px; min-width: 10px; min-height: 10px;
    color:@gray-4;
    padding:1px 0 0 5px; height: 14px;  i{vertical-align: middle;}
}
.title{line-height: 24px; font-size: 16px; width: 100%; display:block;  text-align: center; margin-top: -32px;
    .ant-select-selection{border:none; background: transparent;  &:focus{box-shadow: none;}}
    .ant-select-selection-selected-value {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 100%;
        margin-right: 14px;
        text-align: center;
        width: 100%;
        font-size: 14px;
    }
    .ant-select-arrow{right: 0;}
}
.text-center{text-align: center;}
.text-right{text-align: right;}
.text-right-5{text-align: right; margin-right: 5px;}
.contents-top-controls{margin-top:-29px; margin-bottom: 10px;}



/*-------------------react*/

.react-infinite-slides.wrapper {
    padding: 0px 0px 10px;  }

.react-grid-layout{right: 0;}

/*-------------------svg chart*/

.svg-container, .main-svg, .bglayer, rect {background: transparent !important; fill:transparent !important; text{fill:#cccccc !important;}}
.bglayer> .bg{background: transparent !important; }
.gridlayer path{stroke:#333 !important;}
.js-line,.errorbar path{stroke: #0bacff !important;}
/*---------------------carousel*/
.alice-carousel__prev-btn-item, .alice-carousel__next-btn-item {

    width: 26px;
    height: 26px;
    top: 50%;
    color: @gray-4;
    font-size: 1.2em;
    border: 1px solid @gray-4;
    &:hover{color: @orange-6; border-color: @orange-6;}
}
.alice-carousel__dots-item:hover, .alice-carousel__dots-item.__active {
    background-color: @orange-6;
}
.alice-carousel__dots-item {
    background-color: @gray-6;
}
.alice-carousel__play-btn-item {
    cursor: pointer;
    position: absolute;
    top: 100%;
    background:@gray-6;
    border: 1px solid @gray-5;
    border: 0;
    width: 32px;
    height: 30px;
    outline: none;
}
.alice-carousel__play-btn-item::before, .alice-carousel__play-btn-item::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    border-style: solid;
    border-color: transparent;
    border-width: 8px 0 8px 15px;
    border-left-color: @gray-4;

}
.alice-carousel__play-btn-item::before, .alice-carousel__play-btn-item::after {
    content: '';
    display: block;
    position: absolute;
    left: 30%;
    top: 20%;
    border-style: solid;
    border-color: transparent;
    border-width: 8px 0 8px 15px;
    border-left-color: @gray-4;

}
.alice-carousel__play-btn-item.__pause::before, .alice-carousel__play-btn-item.__pause::after {
    border-width: 0 0 0 6px;
    height: 25px;
}
.alice-carousel__play-btn-item.__pause::before{left: 25%;  top: 10%;}
.alice-carousel__play-btn-item.__pause::after{left: 55%;  top: 10%;}

.bookmark-row {
    border-bottom: 1px solid #303030;
    margin-bottom: 3px;
    padding: 1px 5px 3px;
}

.btn-left-bottom {
    position: fixed;
    left:5px;
    bottom:4px;
    z-index:10000;
}

.btn-right-bottom {
    position: fixed;
    right:5px;
    bottom:4px;
    z-index:10000;
}

.ant-btn{
    background-color: transparent;
}

.ant-btn-background-ghost {
    background: transparent !important;
    border-color: #fff;
    color: black;
}

img.hand {
    position: fixed;
    animation: target_image 3s;
    animation-iteration-count: infinite;
    transform-origin: 50% 0%;
    left:49%;
    bottom:51%;
    z-index:10000;
}
@keyframes target_image {
    0% { transform: rotateY(180deg); }
    100% { transform: rotateY(0deg); }
}

.card-layout{
    display: flex;
    align-content: stretch;
    flex-wrap: wrap;
}

.card-container{
    display: flex;
    flex-direction: column;
    width: 330px;
    height: 430px;
    /*            background-color: #F0E9DC;*/
    /*            border: 1px solid #F0E9DC;*/
    margin: 20px;

    /*            box-shadow: 2px 1px 10px 1px #272532 inset;*/
    /*            background : linear-gradient(#F0E9DC, #F0E9DC);*/
    border-radius: 10px;
    box-shadow : 0 5px 20px #272532;
}

.card-container .item-header{
    display: flex;
    flex-basis: 50px;
    padding-left: 12px;
    padding-right: 12px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #F0E9DC;
    border-bottom: 1px solid #625E65;
    align-items: center;
}

.card-container .item-header .item-title{
    color: black;
    flex-basis: 70%;
}

.card-container .item-header .item-settings{
    color: black;
    flex-basis: 30%;
    text-align: right;
}

.card-container .item-contents{
    display: flex;
    padding: 10px;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    background-color: #F0E9DC;
    color: black;
}

.card-container .item-footer{
    display: flex;
    flex-direction: row;
    flex-basis: 80px;

    background-color: red;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    /*            height: 50px;*/
    /*            border-top: 1px solid black;*/

}

.card-container .item-footer .item{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: #825D5B;
    align-items: center;
    justify-content: center;
    color: white;
    line-height: 1.7;
    font-size: 1rem;
}

.card-container .item-footer .item:nth-child(1) {
    border-bottom-left-radius: 10px;
}

.card-container .item-footer .item:nth-last-child(1) {
    border-bottom-right-radius: 10px;
}

@media(min-width:@screen-sm-max){
    .menu-bars{
        display: flex;
        justify-content: center;
    }
}

@media(max-width:@screen-sm-max){
    .menu-bars{
        display: none
    }
}

@media(min-width:@screen-sm-max){
    .menu-icon{
        display: none
    }
}

@media(max-width:@screen-sm-max){
    .menu-icon{
        display: inline
    }
}