@import '../../../styles/index';

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    overflow-x: hidden;
}

// 컨테이너 영역
.polestar-app-container {
    min-width: 300px;

    // 헤더 영역
    .polestar-app-header {
        min-width: 800px;
        overflow: hidden;
        padding: 0 0px;
        height: 40px;
        line-height: 40px;
        background: #052A68;

        // POLESTAR
        .polestar-app-logo {
            text-align: left;
            font-size: 18px;
            padding-left: 10px;
        }

        .ant-menu-item {
            background-color: #052A68
        }

        .ant-menu-submenu {
            background-color: #052A68
        }

        .ant-menu.ant-menu-dark .ant-menu-item-selected {
            background-color: #052A68;
        }

        .ant-menu {
            line-height: 40px;
        }
    }

    // 북마크바 영역
    .polestar-app-bookmark {
        border-bottom: 1px solid #303030;
        margin-bottom: 3px;
        padding: 1px 5px 3px;
    }

    // 브레드크럼 영역
    .polestar-app-breadcrumb {
        color: @gray-5;
        height: 35px;
        margin-right: -5px;
        margin-left: -5px;
        padding: 8px 10px;
        background-color: transparent;
        border-bottom: 1px solid @gray-6;

        .ant-breadcrumb-separator {
            color: @gray-5;
        }
    }

    // 컨텐츠 영역
    .polestar-app-contents {
        overflow: auto;
        margin: 0;
        padding: 0 5px 0 5px;
    }

    // 푸터 영역
    .polestar-app-footer {
        padding: 5px;
        font-size: 12px;
        min-height: 40px;
        line-height: 30px;
        background: #052A68;
        border-top: 1px solid @gray-6;
        z-index: @zindex-footer;
    }

    // 화면 좌측 하단 사이드바 토글 버튼
    .polestar-app-sidebar-button {
        position: fixed;
        left: 5px;
        bottom: 4px;
        z-index: 10000;
    }

    // 화면 우측 하단 챗봇 토글 버튼
    .polestar-app-chatbot-button {
        position: fixed;
        right: 5px;
        bottom: 4px;
        z-index: 10000;
    }

    // polestar-app-container 내부에 있는 모든 ant button
    .ant-btn {
        background-color: transparent;
    }

    // polestar-app-container 내부에 있는 모든 ant ghost button
    .ant-btn-background-ghost {
        background: transparent !important;
        border-color: #fff;
        color: black;
    }
}

@media (min-width: @screen-sm-max) {
    .menu-bars {
        display: flex;
        justify-content: center;
    }
}

@media (max-width: @screen-sm-max) {
    .menu-bars {
        display: none
    }
}

@media (min-width: @screen-sm-max) {
    .menu-icon {
        display: none
    }
}

@media (max-width: @screen-sm-max) {
    .menu-icon {
        display: inline
    }
}