.group-layout{
    height: 84vh;
    padding: 20px 5px 0px 5px;
}

.group-outline{
    display: flex;
    background-color: #42444e;
    height: 98%;
    padding: 10px;
}

.group-container{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    background-color: #2c8ca7;
    margin: 8px;
    flex-grow: 1;
    
}

.group-items{
    display: flex;
    background-color: #2496bf;
    padding: 5px;
    margin: 2px;
    flex-wrap: wrap;
    flex-shrink: 0;
    flex-grow: 1;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}

.group-item{
    width: 31%;
    height: 150px;
    margin: 6px;
    flex-shrink: 0;
    text-align: center;
    padding: 3px;
    background-color: #0e5a76
    
}

/* column style
.group-items{
    column-count: 3;
    background-color: antiquewhite;
    padding: 5px;
    margin: 2px;
}

.group-item{
    padding: 5px;
    margin-bottom: 5px;
    text-align: center;
    border: 1px solid black;
}
*/

.container-title{
    flex-basis: 3%;
    flex-shrink: 0;
    text-align: center;
    padding: 5px;
    color: white;
}

.group-title{
    flex-shrink: 0;
    text-align: center;
    padding: 5px;
    background-color: black;
    color: white;
    height: 18%;
    
}

.circle{
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.critical_circle{
    width: 60px;
    height: 34px;
    background-color: aqua;
    text-align: center;
    margin: 1px;
}

/*** Device ***/
.device-outline{
    background-color: #dacfc5;
}

.device-group-nav {
    text-align: center;
    padding: 10px;
    background-color: cadetblue;
    color: white;
    position: fixed;
    top: 111px;
    left: 0px;
    width:100%;
    
}

.device-group-search {
    margin: 38px 0px 0px 0px;
    text-align: center;
    padding: 10px;
    background-color: #73a05f;
    color: white;
}

.device-group-layout{
    display: flex;
    align-content: stretch;
    flex-wrap: wrap;
}

.device-group-container{
    display: flex;
    margin: 5px;
    border-bottom: 1px solid #776B5F;
}

.device-group{
    background-color: #776B5F;
    padding: 10px;
    color: white;
    flex-shrink: 0;
    writing-mode: vertical-lr;
    font-size: 18px;
}

.device{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
}

.device-container{
    display: flex;
    flex-direction: row;
    width: 242px;
    height: 120px;
    margin: 10px;
/*	        box-shadow : 0 5px 20px #272532;*/
}

.device-container .device-nav{
    background-color: #57ce23;
    flex-basis: 3%;
}

.device-container .device-contents{
    display: flex;
    flex-direction: column;
    flex-basis: 97%;
}

.device-container .item-header{
    display: flex;
    flex-basis: 30px;
    padding-left: 12px;
    padding-right: 12px;
    background-color: #1f1f1f;
    border-bottom: 1px solid #eee;
    align-items: center; 
    color: white;
    flex-shrink: 0;
}

.device-container .item-header .item-title{
    flex-basis: 100%;
}
        
.device-container .item-contents{
    display: flex;
    padding: 5px;
    flex-grow: 1;
    align-items: center; 
    justify-content: left;
    background-color: #57ce23;
    color: white;
    font-size: 13px;
}

.item-contents .clear{
    background-color: #57ce23;
}

.device-container .item-footer{
    display: flex;
    flex-direction: row;
    flex-basis: 50px;
    border-top: 1px solid white;
    flex-shrink: 0;
}

.device-container .item-footer .item{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: #F5F0EC;
    align-items: center; 
    justify-content: center;
    line-height: 1.7;
    font-size: 14px;
    color: black;    
}

.device-container .item-footer .item:nth-child(1) {
    border-right: 1px solid white;
}

.device-container .item-footer .item:nth-last-child(1) {
    border-left: 1px solid white;
}

/* dashboard-card */
.dashboard-card-outline{
    width: 310px;
    background-color: #2399F1;
    border-radius: 10px;
    box-shadow : 0 5px 20px #272532;
    margin: 20px;
    color: white;
}

.dashboard-card-outline > .body{
    display: flex;
    height: 140px;
    flex-direction: column;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.dashboard-card-outline > .body > .header{
    display: flex;
    height: 48px;
    padding-top: 8px;
    padding-right: 10px;
}

.dashboard-card-outline > .body > .header > .icon{
    display: flex;
    flex-basis: 20%;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}

.dashboard-card-outline > .body > .header > .icon-left{
    display: flex;
    flex-basis: 10%;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    color: black;
}

.dashboard-card-outline > .body > .header > .dashboard-title{
    display: flex;
    flex-basis: 80%;
    flex-grow: 1;
    align-items: center;
    font-size: 16px;
}

.dashboard-card-outline > .body > .article{
    display: flex;
    flex-grow: 1;
    align-items: center;
    position:relative;
}

.dashboard-card-outline > .body > .article > .content{
    flex-basis: 67%;
    padding-left: 20px;
    padding-bottom: 10px;
    font-size: 55px;
}

.dashboard-card-outline > .body > .article > .content-small{
    flex-basis: 67%;
    padding-left: 20px;
    padding-bottom: 10px;
    font-size: 40px;
}

.dashboard-card-outline > .body > .article > .content-icon{
    display: flex;
    flex-basis: 24%;
    justify-content: flex-end;
    font-size: 16px;
}

.dashboard-card-outline > .footer{
    padding: 5px 5px 15px 28px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: 20px;    
}

.dashboard-card-outline > .body > .article:after{
    position:absolute;
    content:"";
    width: 280px;
    height:1px;
    background: #ffd736;
    left: 15px;
    bottom: 4px;
}